<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<div class="client-container">
  <h2>Formulaire Client</h2>
  <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <div class="form-group">
      <label for="nom">Nom :</label>
      <div class="input-icon">
        <i class="fa fa-user"></i>
        <input
          type="text"
          id="nom"
          name="nom"
          placeholder="Entrez le nom"
          [(ngModel)]="clientData.nom"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="prenom">Prénom :</label>
      <div class="input-icon">
        <i class="fa fa-user"></i>
        <input
          type="text"
          id="prenom"
          name="prenom"
          placeholder="Entrez le prénom"
          [(ngModel)]="clientData.prenom"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="adresse">Adresse :</label>
      <div class="input-icon">
        <i class="fa fa-map-marker-alt"></i>
        <input
          type="text"
          id="adresse"
          name="adresse"
          placeholder="Entrez l'adresse"
          [(ngModel)]="clientData.adresse"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="telephone">Téléphone :</label>
      <div class="input-icon">
        <i class="fa fa-phone"></i>
        <input
          type="text"
          id="telephone"
          name="telephone"
          placeholder="Entrez le numéro"
          [(ngModel)]="clientData.telephone"
          required
        />
      </div>
    </div>

    <button type="submit" [disabled]="clientForm.invalid">
      <i class="fa fa-save"></i> Enregistrer
    </button>
  </form>
</div>