<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="client-list-container">
  <h2>Liste des Clients</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.nom }}</td>
        <td>{{ client.prenom }}</td>
        <td>{{ client.adresse }}</td>
        <td>{{ client.telephone }}</td>
        <td>
          <div class="button-group">
            <button class="edit-button" (click)="editClient(client.id)">
              <i class="fas fa-edit"></i> Éditer
            </button>
            <button class="delete-button" (click)="deleteClient(client.id)">
              <i class="fas fa-trash-alt"></i> Supprimer
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>








  
</div>