.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Pour centrer verticalement */
  margin: 0; /* Supprimez la marge gauche */
}

form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px; /* Largeur fixée pour le formulaire */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  margin-left: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #0056b3;
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon i {
  position: absolute;
  left: 10px;
  color: #666;
  font-size: 14px;
}

.input-icon input,
.input-icon select {
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 2rem; /* espace pour l’icône */
  border: 1px solid #ccc;
  border-radius: 8px;
}