<div class="sidebar">
  <h2>DASHBOARD</h2>
   
  <a routerLink="home" routerLinkActive="active">🏠 Home</a>
  <a routerLink="admins" routerLinkActive="active">
    <i class="fas fa-user-shield"></i> Creat Admin
  </a>
  <a routerLink="stats" routerLinkActive="active">📊 Statistiques</a>
  <a routerLink="products" routerLinkActive="active">🛒 Produits</a>
  <a routerLink="clients" routerLinkActive="active">
    <i class="fas fa-user"></i> Listes clients
  </a>
</div>

<!-- Main Content -->
<div class="content">
  <div class="header">
    <h1>Connectés 👋</h1>
    <button style="padding:8px 16px; border:none; background:#00d4ff; border-radius:8px; cursor:pointer;">
      Déconnexion
    </button>
  </div>

  <div class="stats">
    <div class="card">
      <h3>Listes Utilisateurs</h3>
      <p>8 actifs</p>
    </div>
    <div class="card">
      <h3>Listes Admins</h3>
      <p>4 admins</p>
    </div>
    <div class="card">
      <h3>Connexions</h3>
      <p>5</p>
    </div>
    <div class="card">
      <h3>Total acteurs</h3>
      <p>12</p>
    </div>
  </div>

  <!-- Ici s'affichera la page liée -->
  <router-outlet></router-outlet>
</div>
