body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f7fa; /* Couleur de fond claire pour un contraste doux */
}

.sidebar {
    width: 250px; /* Légèrement plus large pour une meilleure lisibilité */
    background-color: #004080; /* Couleur sombre et riche */
    color: #f9f7f7; /* Texte blanc */
    padding: 20px;
    height: 100vh; /* Assurez-vous que la barre latérale occupe toute la hauteur */
    position: fixed; /* Fixe la barre latérale lors du défilement */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5em; /* Taille de police agrandie */
    font-weight: bold; /* Texte en gras */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    font-style: unset;
    font-size: 1.3em; /* Taille de police légèrement plus grande */
    font-weight: 500; /* Poids de police moyen pour une meilleure lisibilité */
   

}

.sidebar ul li a {
    color: #f9f7f7; /* Lien blanc */
    text-decoration: none;
    padding: 10px 15px; /* Espacement intérieur plus large */
    display: block; /* Rendre le lien cliquable sur toute la largeur */
    border-radius: 5px; /* Coins arrondis pour les liens */
    transition: background-color 0.3s, transform 0.2s; /* Ajout d'une transition pour le survol */
}

.sidebar ul li a:hover {
    background-color: rgba(11, 11, 11, 0.473); /* Effet sur le survol */
    transform: translateX(5px); /* Déplacement léger à droite au survol */
}

.content {
    margin-left: 270px; /* Espace pour la barre latérale */
    padding: 20px;
    flex: 1; /* Prend tout l'espace restant */
}

.stats {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
     margin-top: -60px; 
}

.card {
    background-color: #ffffff; /* Couleur de fond blanche */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px;
    margin: 15px; /* Espacement entre les cartes */
    flex: 1 1 200px; /* Flexibilité pour les cartes */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre plus marquée pour plus de profondeur */
    transition: transform 0.2s, box-shadow 0.2s; /* Transition pour l'effet de survol */
}

.card:hover {
    transform: translateY(-5px); /* Élévation légère au survol */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.card h3 {
    margin: 0 0 10px; /* Espacement entre le titre et le texte */
    font-size: 1.2em; /* Taille de police agrandie */
    color: #004080;  /* Couleur de texte légèrement plus foncée */
     font-size: 1.3em; 
}

.card p {
    margin: 0; /* Supprimer les marges par défaut */
    color: #004080;  /* Couleur de texte gris pour une meilleure lisibilité */
     font-size: 1.3em; 
}